{% load static %}

<!DOCTYPE html >
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <script src='https://kit.fontawesome.com/c939d0e917.js'></script>
    <title>CoronaMap Bogota</title>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style_en.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
  <div class="navbar">
    <div class="navbar-title">
      <i class="fas fa-shield-virus"></i>
      <strong>BOGOTÁ: COVID-19</strong>
    </div>
    <div class="navbar-update-language">
      <div class="navbar-update">
        UPDATE: 10.6.20, 0:00
      </div>
      <div class="navbar-language">
        Language: English
      </div>
    </div>
  </div>
  <div class="main">
    <div class="sidebar">
      <div class="sidebar-items-container">
        <div class="sidebar-title">
          Home
          <i class="fas fa-bars"></i>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-item-header">
            <i class="fas fa-home"></i>
            Main Data
          </div>
          <div class="sidebar-item-content-container">
            <span class="sidebar-item-content">Today's data</span>
            <span class="sidebar-item-content">Patient's state</span>
            <span class="sidebar-item-content">Cases by locality</span>
            <span class="sidebar-item-content">CoronaMap</span>
          </div>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-item-header">
            <i class="fas fa-hospital-alt"></i>
            Hospitals
          </div>
          <div class="sidebar-item-content-container">
            <span class="sidebar-item-content">Availability</span>
            <span class="sidebar-item-content">ICU Hospitals</span>
          </div>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-item-header">
            <i class="fas fa-donate"></i>
            Fundings
          </div>
          <div class="sidebar-item-content-container">
            <span class="sidebar-item-content">Contact</span>
          </div>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-item-header">
            <i class="fas fa-language"></i>
            Language
          </div>
          {% block language %}
          {% endblock %}
        </div>
      </div>
      <div class="footer">
        <span class="developer">
          Developer: Min Chang Park
        </span>
        <span class="email">
          e-mail: mc.park@uniandes.edu.co
        </span>
      </div>
    </div>
    {% block content %}
    {% endblock %}
  </div>
  </body>
</html>