{% load static %}

<!DOCTYPE html >
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <script src='https://kit.fontawesome.com/c939d0e917.js'></script>
    <title>CoronaMap Bogota</title>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </head>
  <body>
  <div class="navbar">
    <div class="navbar-title">
      <i class="fas fa-shield-virus"></i>
      <strong>BOGOTÁ: COVID-19</strong>
    </div>
    <div class="navbar-update-language">
      <div class="navbar-update">
        Actualizado: 8.6.20, 15:20
      </div>
      <div class="navbar-language">
        Idioma: Español
      </div>
    </div>
  </div>
  <div class="main">
    <div class="sidebar">
      <div class="sidebar-items-container">
        <div class="sidebar-title">
          Home
          <i class="fas fa-bars"></i>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-item-header">
            <i class="fas fa-home"></i>
            Datos Principales
          </div>
          <div class="sidebar-item-content-container">
            <span class="sidebar-item-content">Datos Actuales</span>
            <span class="sidebar-item-content">Estado de pacientes</span>
            <span class="sidebar-item-content">Casos por localidad</span>
            <span class="sidebar-item-content">CoronaMap</span>
          </div>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-item-header">
            <i class="fas fa-hospital-alt"></i>
            Hospitales
          </div>
          <div class="sidebar-item-content-container">
            <span class="sidebar-item-content">Hacinación</span>
            <span class="sidebar-item-content">Hospitales UCI</span>
          </div>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-item-header">
            <i class="fas fa-donate"></i>
            Apoyo
          </div>
          <div class="sidebar-item-content-container">
            <span class="sidebar-item-content">Contacto</span>
          </div>
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock %}
  </div>
  </body>
</html>